<form [formGroup]="formGroup">
  <div>
    <label>Registration Form</label>
  </div>
  <div class="input-generic">
    <input formControlName="plate" placeholder="Inform a plate" required>
  </div>
  <div class="input-generic">
      <input formControlName="color" placeholder="Inform a color" required>
  </div>
  <div class="input-generic">
      <input formControlName="mark" placeholder="Inform a mark" required>
  </div>
  <div class="input-generic">
      <input formControlName="driver_name" placeholder="Inform the driver name" required>
  </div>
  <div class="button-save">
    <button class="button" type="button" [disabled]="formGroup.invalid" (click)="insert()">Save</button>
  </div>
</form>
