.input-plate {
  border-radius: 5px;
}

.button-insert {
  margin-top: 5px;
}

.button {
  font-size: large;
  background: #154580;
  color: #ffffff;
  max-width: 270px;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #154580;
  border-radius: 10px;
  transition: 0.5s ease;
}

.form {
  padding: 15%;
}

.font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
}

.error {
  color: red;
}
