.input-plate {
  border-radius: 5px;
}

.button-insert {
  margin-top: 5px;
}

.button {
  color: black;
  border-radius: 5px;
  font-size: large;
}

.form {
  padding: 15%;
}

.font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
}
